{% extends 'layout.html.twig' %}


{% block title %}
    Modifier une annonce - {{ parent() }}
{% endblock %}

{% block body %}

    <h2>Modifier une annonce</h2>

    {{ include("Advert/_form.html.twig") }}

    <p>
        Vous éditez une annonce déjà existante, merci de ne pas changer
        l'esprit général de l'annonce déjà publiée.
    </p>

    <p>
        <a href="{{ path('oc_advert_view', {'id': post.id}) }}" class="btn btn-outline-primary">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à l'annonce
        </a>
    </p>

{% endblock %}